<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParkingCalParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>771154CB1DE4B0A90020877E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771154DF1DE4B0A90020877E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>771154EA1DE4B0A90020877E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
